ansible
asn1crypto
awscli
bcrypt
boto
botocore
cffi
colorama
cryptography
docutils
idna
Jinja2
jmespath
MarkupSafe
numpy
paramiko
pyasn1
pycparser
PyNaCl
python-dateutil
PyYAML
rsa
s3transfer
scipy
six
virtualenv
